body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://img.freepik.com/vector-premium/textura-huellas-dactilares-huella-digital-identificacion-personal-ilustracion-vectorial_257312-1711.jpg?w=2000');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  color: rgb(113, 179, 170);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
